*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Mulish', sans-serif;

  font-size: 16px;
}

h1 {
  font-size: 38px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

body {

}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  text-align: center;

  cursor: pointer;

  border: none;
  outline: none;
  border-radius: 10px;

  padding: 20px 40px;

  font-size: 16px;
  font-weight: 400;

  color: #fff;
  background-color: rgb(198, 141, 111);
}

.add_operations .add_operations-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 16px;
}

.add_operations-conteonent {
  padding: 9px;
  border-radius: 10px;
  bottom: none;
  outline: none;

  background-repeat: 10px;
  box-shadow: 0px, 10px, 20px, -10px rgba (0 ,0 ,0 ,0.3);
}

.operations-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  background-color: #F9F9FA;
  
  padding: 18px 48px;

  border-radius: 10px;
}

.button.sm {
  padding: 12px 32px;
}

.button.green {
  background-color: rgb(81, 164, 83);
}

.button.red {
  background-color: rgb(169, 16, 16);
}

.operations-box {
  display: flex;
  flex-direction: column;

  gap: 16px;

  margin: 32px 0;
}

.operation:first-child {
  border-radius: 8px 8px 0 0;
}

.operation:last-child {
  border-radius: 0 0 8px 8px;
}

.operation {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px 16px;
  background-color: #f9f9fa;
}

.operation_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.operation .circle {

  --size: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  width: var(--size);
  height: var(--size);
}

